body{
  font: 15px/1.5,Arial,Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  height: 800vh;
  width: 100%;
  /* height: 100%; */



}


/* .container{
  color:#fff;
} */



.btext{
  color:#f9f3f4;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  line-height: 0.4em;
  margin-bottom: 200px;
}

h1{

  font-size: 50px;
  font-family:'Nothing You Could Do';


}

h2{

  font-size: 20px;
  font-family:'Nothing You Could Do';

}

h3{
  margin-bottom: 300px;
}


h4{

  font-size:50px;
  /* font-family: 'Nothing You Could Do'; */
  font-family: 'Ruda', sans-serif;


}

hr {
    border-top: 2px solid #fff;
}

hr.line {
    width: 200px;
    /* margin-top: 10px; */
}


hr.empty{
  border: 0px;

}

hr.dapline{

  /* border-top: 2px solid #50E3C2; */
  width: 120px;

}



h5{

  font-size: 15px;
  font-family: 'Ruda', sans-serif;
  /* font-family: 'Roboto Slab', serif; */

}

h6{

  font-size:50px;
  /* font-family: 'Nothing You Could Do'; */
  font-family: 'Ruda', sans-serif;


}

h7{
  font-size: 25px;
  font-family: 'Ruda', sans-serif;
}

h8{
  font-size: 25px;
  font-family: 'Ruda', sans-serif;

}





.btn{
  color: #fff;
  text-decoration: none;
  border: #ccc 1px solid;
  padding: 10px 15px;
  border-radius: 8px;
  line-height: 4em;
  margin-left: 15px;
  margin-bottom: 200px;
  font-family:'Nothing You Could Do';

}

.btn:hover{
  background-color: #fff;
  color: #000;
  border:#d3d3d3 1px solid;
  /* color:#b19295; */

}

.profile {
    height: 8rem;
    border-radius: 12rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    border: .2rem solid #fafafa;
  }

  .surf{
    float:left;
    height:20rem;
    border-radius: 15rem;
    /* margin-top: 1rem; */
    border: .2rem solid #fafafa;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    /* margin-bottom: 5rem; */
  }

  .code{
    float:left;
    height:35rem;
    width:35rem;
    border-radius: 10rem;
    /* margin-top: 1rem; */
    border: .2rem solid #fafafa;
    margin-top: 9rem;
    margin-left: 4rem;
    /* margin-bottom: 5rem; */
  }

  .intellij{

    margin-bottom: 31px;
    margin-right: 20px;

  }

.contact{

  color: #fafafa;

}

#particles-js{
  height: 100%;
  width: 100%;
  /* background: #e8491d;  */

  background:url('../img/fra.jpg') no-repeat fixed;
}

/* Global */
.container{

  color: #fafafa;
  width:80%;
  margin:auto;
  overflow: hidden;
  opacity: 0.2;


}

.java{
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.htmlA{



}



.about{


  /* background: url(klematis.jpg) repeat; */
  border: 2px solid black;

}

span.tags {
    padding: 5px;
    background-color: #7280fd;
    color: #fff;
    margin: 5px;
display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.transparent{
  /* margin: 30px; */

  height: 400px;
  background-color: #35424a;
  border-top: 1px solid;
  border-bottom: 1px solid;
  /* border: 1px solid ; */
  opacity: 0.8;
  filter: alpha(opacity=60);
  margin-bottom: 700px;
}

.languages{
  /* margin: 30px; */

  height: 900px;
  background-color: #35424a;
  border-top: 1px solid;
  border-bottom: 1px solid;
  /* border: 1px solid ; */
  opacity: 0.8;
  filter: alpha(opacity=60);
  margin-bottom: 500px;
}

.projects{
  /* margin: 30px; */

  height: 600px;
  background-color: #35424a;
  border-top: 1px solid;
  border-bottom: 1px solid;
  /* border: 1px solid ; */
  opacity: 0.8;
  filter: alpha(opacity=60);
  margin-bottom: 500px;
}

.daployer{

  height: 800px;
  width: 800px;
  background-color: #7280fd;
  border-top: #BD10E0 2px solid;
  border-bottom: #BD10E0 2px solid;
  /* text-align: center; */
  margin:0 auto;
  /* opacity: 0.8;
  filter: alpha(opacity=60); */
  margin-bottom: 200px;



}

/* header */
header{
  background: #35424a;
  color:#ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;


}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;

}

header ul{
  margin: 0;
  padding: 0;

}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;

}


header #branding{
  float:left;

}


header #branding h1{
  margin: 0;

}

header nav{
  float:right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color:#e8491d
  font-weight:bold;

}

header a:hover {
  color:#cccccc;
  font-weight: bold;

}


/* ---------- */

#showcase{
  min-height:400px;
  background:url('../img/node12.jpeg') no-repeat;
  color:#ffffff
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

#newsletter{
  padding:15px;
  color:#ffffff
  background:#35424a
}
